@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-size: 100vw 450vh;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      70% 53% at 65% 13%,
      #73f2ffff 0%,
      #073aff00 46%
    ),
    radial-gradient(42% 53% at 19% -15%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(39% 37% at 79% 104%, #0037faf2 1%, #073aff00 100%),
    radial-gradient(38% 56% at 19% 85%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(38% 56% at 107% -10%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #6dffaef5 0%, #073aff00 100%),
    linear-gradient(180deg, #4eb5ffff 1%, #4c00fcff 100%);
}

/* HEADER CSS */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 2vw;
  transition: all 0.3s;
}

#header-content {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 0.3vh solid rgb(255, 255, 255);
  min-width: 95vw;
  max-width: 95vw;
  min-height: 12vh;
  max-height: 12vh;
  backdrop-filter: blur(0.2vh);
  border-radius: 0 0 2vw 2vw;
  padding: 0 2.5vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: fit-content;
  max-width: 44vw;
  min-width: 44vw;
  max-height: 12vh;
  min-height: 12vh;
  padding: 0 2vw;
}

#logo-img {
  max-width: 12vh;
  min-width: 12vh;
  max-height: 12vh;
  min-height: 12vh;
}

.company-name {
  max-width: 35vw;
  min-width: 35vw;
  max-height: 12vh;
  min-height: 12vh;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
  font-weight: bolder;
  word-spacing: 0.2vw;
  text-align: left;
  padding-left: 2vw;
  align-content: center;
}

.navigation {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav_list {
  display: flex;
  justify-content: center;
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-items: center;
  padding: 1vw;
}

.nav_item {
  margin-right: 1vw;
}

.nav_link_home {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_home:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.3vw;
}

.nav_link_news {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_news:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_org {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_org:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_about {
  padding: 1vh 1vw;
  color: white;
  font-weight: 900;
  font-size: 1.3vw;
  transition: all 0.3s;
  background-color: rgba(255, 88, 88, 0.968);
  border-radius: 1.5vh;
}

.nav_link_about:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_join {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_join:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}
/* MAIN CSS */

.main {
  height: 100%;
  background-color: transparent;
  display: block;
}
/* Section 1 */
.section1 {
  margin: 120px auto;
  padding: 30px;
  width: 90%;
  height: 600px;
  background-color: rgba(56, 191, 198, 0.363);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.585);
}

.intro {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  height: fit-content;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-family: ADLam DISPLAY;
  border-radius: 15px;
}

#sec1-part1 {
  width: 100%;
  height: 90%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

#sec1-image1 {
  width: 50%;
  height: 100%;
  background-color: blue;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

#sec1-image1-text {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  font-size: 90px;
  font-family: ADLam DISPLAY;
  text-align: center;
  color: white;
}

#sec1-image1 img {
  width: 100%;
  height: 100%;
}

#sec1-text1 {
  width: 49%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(127, 127, 127, 0.452);
  padding: 10px;
  font-family: ADLaM DISPLAY;
  text-align: justify;
  font-size: 21px;
  align-content: center;
}

/* Section 2 */
.section2 {
  margin: 120px auto;
  padding: 30px;
  width: 90%;
  height: 1100px;
  background-color: rgba(56, 191, 198, 0.363);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.585);
}

#sec2-container1 {
  width: 100%;
  height: 550px;
}

#sec2-container2 {
  width: 100%;
  height: 600px;
}

#sec2-part1 {
  width: 100%;
  height: 60%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

#sec2-image1 {
  width: 50%;
  height: 100%;
  background-color: blue;
  border-radius: 20px;
  overflow: hidden;
}

#sec2-image1 img {
  width: 100%;
  height: 100%;
}

#sec2-text1 {
  width: 49%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(127, 127, 127, 0.452);
  padding: 10px;
  font-family: ADLaM DISPLAY;
  text-align: justify;
  font-size: 19px;
  align-content: center;
}

#sec2-part2 {
  padding: 10px;
  width: 100%;
  height: 30%;
}

#sec2-text2 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(127, 127, 127, 0.452);
  padding: 10px;
  font-family: ADLaM DISPLAY;
  text-align: justify;
  font-size: 21px;
  align-content: center;
}

#sec2-part3 {
  width: 100%;
  height: 60%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

#sec2-image3 {
  width: 30%;
  height: 100%;
  background-color: blue;
  border-radius: 20px;
  overflow: hidden;
}

#sec2-image3 img {
  width: 100%;
  height: 100%;
}

#sec2-text3 {
  width: 69%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(127, 127, 127, 0.452);
  padding: 10px;
  font-family: ADLaM DISPLAY;
  text-align: justify;
  font-size: 20px;
  align-content: center;
}

/* Section 3 */

.section3 {
  margin: 1vw auto;
  padding: 1.5vw 0px;
  width: 90vw;
  height: 90vh;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(1vw);
  border-radius: 2vw;
  border: 0.1vw solid rgba(0, 0, 0, 0.377);
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: auto;
  scrollbar-color: #ffffff rgb(83, 81, 81);
}

#sec3-container1 {
  display: block;
  width: 150vw;
  height: 83vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

#sec3-upper {
  width: 100%;
  height: 50%;
  border-bottom: 0.2vw solid black;
  display: flex;
}

#upper {
  width: 40vw;
  height: 100%;
  margin-right: 1vw;
  padding-left: 1vw;
}

#u-up {
  width: 100%;
  height: 85%;
  display: flex;
}

#u-down {
  width: 100%;
  height: 15%;
  padding-left: 1vw;
  display: flex;
}

.u-image {
  width: 25vw;
  height: 33vh;
  border-radius: 2vw;
  visibility: hidden;
  z-index: 2;
}

.u-text {
  width: 25vw;
  height: 33vh;
  border-radius: 2vw;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: 1;
  visibility: hidden;
  padding: 0.5vw;
  font-size: 1.5vw;
  text-align: center;
  align-content: center;
  font-weight: bolder;
}

.u-image:hover + .u-text {
  visibility: visible;
  transform: translateX(0%);
}

#u-icon {
  width: 5vw;
  height: 5vh;
  border-radius: 2vw;
  font-size: 2.5vw;
  text-align: center;
}

#button {
  width: 8vw;
  height: 6vh;
  align-content: center;
}

#button button {
  width: 8vw;
  height: 5vh;
  border-radius: 1vw;
  background-color: rgb(103, 202, 106);
  font-size: 1.5vw;
  font-weight: bolder;
  letter-spacing: 0.5vw;
  cursor: pointer;
}

#button button:hover {
  font-size: 1.8vw;
}

#sec3-lower {
  width: 100%;
  height: 50%;
  border-top: 0.5vw solid black;
  display: flex;
  padding-left: 10vw;
  padding-top: 0.3vw;
}

#lower {
  width: 40vw;
  height: 100%;
  margin-right: 1vw;
  padding-left: 1vw;
}

#l-up {
  width: 100%;
  height: 15%;
  padding-left: 1vw;
  display: flex;
}

#l-down {
  width: 100%;
  height: 85%;
  display: flex;
  padding-left: 1vw;
}

.l-image {
  width: 25vw;
  height: 33vh;
  border-radius: 2vw;
  visibility: hidden;
  z-index: 2;
}

.l-txt {
  width: 25vw;
  height: 33vh;
  border-radius: 2vw;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: 1;
  visibility: hidden;
  padding: 0.5vw;
  font-size: 1.5vw;
  text-align: center;
  align-content: center;
  font-weight: bolder;
}

.l-image:hover + .l-txt {
  visibility: visible;
  transform: translateX(0%);
}

#l-icon {
  width: 5vw;
  height: 5vh;
  border-radius: 2vw;
  font-size: 2.5vw;
  text-align: center;
  transform: rotate(180deg);
}

/* FOOTER CSS */
footer {
  background-color: transparent;
  margin-top: auto;
  width: 99vw;
  padding: 2vw;
  height: auto;
  justify-self: center;
}

.footer-content {
  border-radius: 3vw;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  height: 55vh;
  padding: 1.5vw 1vw;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  height: 35vh;
}

.footer-logo {
  min-width: 35vh;
  max-width: 35vh;
  min-height: 35vh;
  max-height: 35vh;
}

.footer-address {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  font-size: 1.5vw;
}

.address:hover {
  color: blue;
}

.footer-contact {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  text-align: left;
  padding-top: 0.2vw;
  font-size: 1vw;
}

.contact {
  text-align: justify;
  padding-top: 0.2vw;
  font-size: 1vw;
  line-height: 2vw;
}

.lower-part {
  margin-top: 1vw;
  padding: 0px 1.5vw;
  display: flex;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 12vh;
  max-height: 12vh;
  justify-content: space-between;
}

.footer-terms {
  min-width: 60%;
  max-width: 60%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 0px 1vw;
  align-content: center;
  font-size: 1vw;
}

.terms:hover {
  color: blue;
}

.copyrights {
  margin-left: 3vw;
}

.footer-logo-link {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  max-width: 40%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 1vw 1vw;
}

.fb-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 7vh;
  max-width: 7vh;
  min-height: 7vh;
  max-height: 7vh;
  margin-right: 1vw;
}

.fb-logo:hover {
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.linked-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 12vh;
  max-width: 12vh;
  min-height: 7vh;
  max-height: 7vh;
}

.linked-logo:hover {
  border-radius: 0.7vw;
  background-color: rgb(255, 255, 255);
  border: 0.2vh solid black;
}
/* scroll bar design*/

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 1vw;
}
