@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-size: 100vw 1000vh;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      70% 53% at 65% 13%,
      #73f2ffff 0%,
      #073aff00 46%
    ),
    radial-gradient(42% 53% at 19% -15%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(39% 37% at 79% 104%, #0037faf2 1%, #073aff00 100%),
    radial-gradient(38% 56% at 19% 85%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(38% 56% at 107% -10%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #6dffaef5 0%, #073aff00 100%),
    linear-gradient(180deg, #4eb5ffff 1%, #4c00fcff 100%);
}

/* HEADER CSS */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 2vw;
  transition: all 0.3s;
}

#header-content {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 0.3vh solid rgb(255, 255, 255);
  min-width: 95vw;
  max-width: 95vw;
  min-height: 12vh;
  max-height: 12vh;
  backdrop-filter: blur(0.2vh);
  border-radius: 0 0 2vw 2vw;
  padding: 0 2.5vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: fit-content;
  max-width: 44vw;
  min-width: 44vw;
  max-height: 12vh;
  min-height: 12vh;
  padding: 0 2vw;
}

#logo-img {
  max-width: 12vh;
  min-width: 12vh;
  max-height: 12vh;
  min-height: 12vh;

}

.company-name {
  max-width: 35vw;
  min-width: 35vw;
  max-height: 12vh;
  min-height: 12vh;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
  font-weight: bolder;
  word-spacing: 0.2vw;
  text-align: left;
  padding-left: 2vw;
  align-content: center;
}

.navigation {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav_list {
  display: flex;
  justify-content: center;
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-items: center;
  padding: 1vw;
}

.nav_item {
  margin-right: 1vw;
}

.nav_link_home {
  padding: 1vh 1vw;
  color: white;
  font-weight: 900;
  font-size: 1.3vw;
  transition: all 0.3s;
  background-color: rgba(255, 88, 88, 0.968);
  border-radius: 1.5vh;
}

.nav_link_home:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.3vw;
}

.nav_link_news {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_news:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_org {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_org:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_about {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_about:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_join {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_join:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}
/* MAIN CSS */
.main {
  height: 100%;
  background-color: transparent;
  display: block;
}
/* SECTION 1 CSS */
.section1 {
  margin: 16vh auto;
  margin-bottom: 10vh;
  padding: 0 2vw;
  align-items: center;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 80vh;
  max-height: 80vh;
  background-image: url(images/section1-background.jpg);
  background-size: cover;
  background-position-y: -2vw;
  display: flex;
  border-radius: 2.5vw;
}

.welcome {
  text-align: center;
  width: 33vw;
  margin-right: 1vw;
}

.welcome h1 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 5vw;
  border-radius: 2.5vw;
  text-align: center;
  text-shadow: 0.1vw 0 #000000, -0.1vw 0 #000000, 0 0.1vw #000000,
    0 -0.1vw #000000, 0.1vw 0.1vw #000000, -0.1vw -0.1vw #000000,
    0.1vw -0.1vw #000000, -0.1vw 0.1vw #000000;
}

.container {
  top: 0;
  width: 55vw;
  height: 65vh;
  right: 0;
  position: relative;
  overflow: hidden;
  border-radius: 2vw;
  box-shadow: -2vw 2vw 2vw rgba(0, 0, 0, 0.8);
}

.slides {
  min-width: 55vw;
  max-width: 55vw;
  min-height: 65vh;
  max-height: 65vh;
  display: flex;
}

.slide {
  min-width: 55vw;
  max-width: 55vw;
  position: relative;
}

.slide img {
  width: 55vw;
  height: 65vh;
}

.slide1-content {
  position: absolute;
  width: 55vw;
  padding: 1vw;
  top: 40vh;
  text-align: center;
  transform: translateY(50%);
  font-size: 2vw;
  letter-spacing: 0.2vw;
  color: white;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.slide2-content {
  position: absolute;
  width: 55vw;
  padding: 1vw;
  top: 40vh;
  text-align: center;
  transform: translateY(50%);
  font-size: 2vw;
  letter-spacing: 0.2vw;
  color: white;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.slide2-content #aia {
  color: red;
}

.slide3-content {
  position: absolute;
  width: 55vw;
  padding: 1vw;
  top: 40vh;
  text-align: center;
  transform: translateY(50%);
  font-size: 2vw;
  letter-spacing: 0.2vw;
  color: white;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.slide4-content {
  position: absolute;
  width: 55vw;
  padding: 1vw;
  top: 40vh;
  text-align: center;
  transform: translateY(50%);
  font-size: 2vw;
  letter-spacing: 0.2vw;
  color: white;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.5vw;
  width: 3vw;
  height: 3.3vw;
  border: none;
  background-color: rgba(158, 158, 158, 0.467);
}

#next-btn img,
#prev-btn img {
  width: 3.3vw;
}

#next-btn:hover,
#prev-btn:hover {
  background-color: white;
  border: none;
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
/* SECTION 2 CSS */
.section2 {
  padding-top: 3vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 2vw;
  background-color: transparent;
}

.sec2-container {
  background-color: rgba(128, 128, 128, 0.562);
  border-radius: 2.5vw;
  padding: 2vw;
}

.sec2-intro {
  text-align: center;
  font-size: 2.5vw;
  font-weight: bolder;
  color: white;
  font-family: "ADLaM Display";
}

.nine {
  color: red;
  font-size: 2.5vw;
}

.financial {
  color: red;
  font-size: 2.5vw;
  font-style: italic;
}

.sec2-image-container {
  display: flex;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 60vh;
  max-height: 60vh;
  background-color: transparent;
  padding: 2.3vw;
  border-radius: 2.5vw;
  margin-top: 2vw;
}

.sec2-image1 {
  min-width: 25vw;
  max-width: 25vw;
  min-height: 50vh;
  max-height: 50vh;
  border-radius: 2.3vw;
  margin: 1.5vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.655);
}

.sec2-image1 img {
  width: 100%;
  height: 100%;
  border-radius: 2.3vw;
  transition: all 0.3s;
  transform: scale(1.1);
}

.sec2-image1 img:hover {
  transform: scale(1.2);
}

.sec2-image2 {
  min-width: 25vw;
  max-width: 25vw;
  min-height: 50vh;
  max-height: 50vh;
  border-radius: 2.3vw;
  margin: 1.5vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.655);
}

.sec2-image2 img {
  width: 100%;
  height: 100%;
  border-radius: 2.3vw;
  transition: all 0.3s;
  transform: scale(1.1);
}

.sec2-image2 img:hover {
  transform: scale(1.2);
}

.sec2-image3 {
  min-width: 25vw;
  max-width: 25vw;
  min-height: 50vh;
  max-height: 50vh;
  border-radius: 2.3vw;
  margin: 1.5vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.655);
}

.sec2-image3 img {
  width: 100%;
  height: 100%;
  border-radius: 2.3vw;
  transition: all 0.3s;
  transform: scale(1.1);
}

.sec2-image3 img:hover {
  transform: scale(1.2);
}

/* SECTION 3 CSS */
.section3 {
  margin-top: 2.5vw;
  background-color: transparent;
  padding: 2.5vw;
}

.sec3-content1 {
  background-color: rgb(128, 128, 128);
  background-image: url(images/sec3-background.jpg);
  background-blend-mode: lighten;
  border-radius: 2.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 95vw;
  max-width: 95vw;
  min-height: 75vh;
  max-height: 75vh;
  display: block;
  padding: 1.5vw;
}

.image1 {
  margin: 1vw auto;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 65vh;
  max-height: 65vh;
  border-radius: 3vw;
}

.sec3-intro {
  position: relative;
  bottom: 85vh;
  text-align: center;
  width: 100%;
  font-size: 2vw;
  font-weight: bolder;
  font-family: "ADLaM Display";
  color: rgb(255, 255, 255);
  text-shadow: 0.2vh 0 #000000, -0.2vh 0 #000000, 0 0.2vh #000000,
    0 -0.2vh #000000, 0.2vh 0.2vh #000000, -0.2vh -0.2vh #000000,
    0.2vh -0.2vh #000000, -0.2vh 0.2vh #000000;
}

.join {
  position: relative;
  bottom: 55vh;
  text-align: center;
  width: 100%;
  font-size: 4vw;
  font-weight: bolder;
  font-family: "ADLaM Display";
  color: rgb(255, 0, 0);
  animation: glow 0.5s ease-in-out infinite alternate;
  text-shadow: 0.2vh 0 #000000, -0.2vh 0 #000000, 0 0.2vh #000000,
    0 -0.2vh #000000, 0.2vh 0.2vh #000000, -0.2vh -0.2vh #000000,
    0.2vh -0.2vh #000000, -0.2vh 0.2vh #000000;
  line-height: 3vw;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1vh #fff, 0 0 1.2vh #fff, 0 0 1.4vh #e60073,
      0 0 1.6vh #e60073, 0 0 1.8vh #e60073, 0 0 2vh #e60073, 0 0 2.5vw #e60073;
  }
  to {
    text-shadow: 0 0 2vh #fff, 0 0 2.2vh #fff, 0 0 2.4vh #e60073,
      0 0 2.6vh #e60073, 0 0 2.8vh #e60073, 0 0 3vh #e60073, 0 0 3.5vw #e60073;
  }
}

.join1 {
  font-size: 2vw;
  font-weight: bolder;
  font-family: "ADLaM Display";
  color: rgb(255, 255, 255);
  text-shadow: 0.2vh 0 #000000, -0.2vh 0 #000000, 0 0.2vh #000000,
    0 -0.2vh #000000, 0.2vh 0.2vh #000000, -0.2vh -0.2vh #000000,
    0.2vh -0.2vh #000000, -0.2vh 0.2vh #000000;
}

.overlay {
  margin: 0px auto;
  width: 100%;
  min-height: 89vh;
  max-height: 89vh;
  background-color: transparent;
  border-radius: 3vw;
}

.row {
  font-family: "ADLaM Display";
  position: relative;
  bottom: 55vh;
  width: 100%;
  min-height: 30vh;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
}

.column1,
.column2,
.column3,
.column4 {
  cursor: default;
  border-top: 1vh solid rgb(0, 14, 166);
  color: white;
  width: 15vw;
  height: 3vw;
  padding: 1vh;
  text-align: center;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  font-size: 0.8vw;
  background-color: rgb(75, 171, 255);
  transition: all 0.2s;
}

.column1 p,
.column2 p,
.column3 p,
.column4 p {
  padding-top: 1vw;
  height: 13vw;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-weight: bold;
  display: none;
}

.column1:hover,
.column2:hover,
.column3:hover,
.column4:hover {
  background-color: rgb(0, 77, 145);
  font-size: 0.9vw;
  height: 25vh;
  color: red;
  box-shadow: 0px 0px 1.5vw 1vw rgb(0, 157, 255);
  p {
    display: flex;
  }
}

/* SECTION 4 CSS */
.section4 {
  margin-top: 20vh;
  margin-bottom: 15vh;
  background-color: transparent;
}

.sec4-contents {
  margin: 0 auto;
  display: block;
  width: 30vw;
  background-color: rgba(128, 128, 128, 0.504);
  border-radius: 5vh;
}

.sec4-intro {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2vh;
  color: rgb(255, 255, 255);
}

.sec4-images {
  min-width: 30vw;
  max-width: 30vw;
  min-height: 30vh;
  max-height: 30vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.sec4-image1 {
  min-width: 30vh;
  max-width: 30vh;
  min-height: 30vh;
  max-height: 30vh;
}

.sec4-image1 img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
}

/* FOOTER CSS */
footer {
  background-color: transparent;
  margin-top: auto;
  width: 99vw;
  padding: 2vw;
  height: auto;
  justify-self: center;
}

.footer-content {
  background-image: url(images/footer1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3vw;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  height: 55vh;
  padding: 1.5vw 1vw;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  height: 35vh;
}

.footer-logo {
  min-width: 35vh;
  max-width: 35vh;
  min-height: 35vh;
  max-height: 35vh;
  background-image: url(images/SDALOGO.png);
  background-size: cover;
}

.footer-address {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  font-size: 1.5vw;
}

.address:hover {
  color: blue;
}

.footer-contact {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  text-align: left;
  padding-top: 0.2vw;
  font-size: 1vw;
}

.contact {
  text-align: justify;
  padding-top: 0.2vw;
  font-size: 1vw;
  line-height: 2vw;
}

.lower-part {
  margin-top: 1vw;
  padding: 0px 1.5vw;
  display: flex;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 12vh;
  max-height: 12vh;
  justify-content: space-between;
}

.footer-terms {
  min-width: 60%;
  max-width: 60%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 0px 1vw;
  align-content: center;
  font-size: 1vw;
}

.terms:hover {
  color: blue;
}

.copyrights {
  margin-left: 3vw;
}

.footer-logo-link {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  max-width: 40%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 1vw 1vw;
}

.fb-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 7vh;
  max-width: 7vh;
  min-height: 7vh;
  max-height: 7vh;
  margin-right: 1vw;
}

.fb-logo:hover {
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.linked-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 12vh;
  max-width: 12vh;
  min-height: 7vh;
  max-height: 7vh;
}

.linked-logo:hover {
  border-radius: 0.7vw;
  background-color: rgb(255, 255, 255);
  border: 0.2vh solid black;
}
/* scroll bar design*/

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 1vw;
}

#admin-btn {
  background-color: red;
  width: 7vw;
  height: 7vh;
  border-radius: 1vw;
  font-size: 1.5vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#admin-btn:hover {
  background-color: rgba(255, 0, 0, 0.475);
  color: white;
}
