* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-size: 100% 1390px;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      70% 53% at 65% 13%,
      #73f2ffff 0%,
      #073aff00 46%
    ),
    radial-gradient(42% 53% at 19% -15%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(39% 37% at 79% 104%, #0037faf2 1%, #073aff00 100%),
    radial-gradient(38% 56% at 19% 85%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(38% 56% at 107% -10%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #6dffaef5 0%, #073aff00 100%),
    linear-gradient(180deg, #4eb5ffff 1%, #4c00fcff 100%);
  font-family: "Inter", sans-serif;
}
/* HEADER CSS */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 2vw;
  transition: all 0.3s;
}

#header-content {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 0.3vh solid rgb(255, 255, 255);
  min-width: 95vw;
  max-width: 95vw;
  min-height: 12vh;
  max-height: 12vh;
  backdrop-filter: blur(0.2vh);
  border-radius: 0 0 2vw 2vw;
  padding: 0 2.5vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: fit-content;
  max-width: 44vw;
  min-width: 44vw;
  max-height: 12vh;
  min-height: 12vh;
  padding: 0 2vw;
}

#logo-img {
  max-width: 12vh;
  min-width: 12vh;
  max-height: 12vh;
  min-height: 12vh;
}

.company-name {
  max-width: 35vw;
  min-width: 35vw;
  max-height: 12vh;
  min-height: 12vh;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
  font-weight: bolder;
  word-spacing: 0.2vw;
  text-align: left;
  padding-left: 2vw;
  align-content: center;
}

.navigation {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav_list {
  display: flex;
  justify-content: center;
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-items: center;
  padding: 1vw;
}

.nav_item {
  margin-right: 1vw;
}

.nav_link_home {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_home:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.3vw;
}

.nav_link_news {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_news:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_org {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_org:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_about {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_about:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_join {
  padding: 1vh 1vw;
  color: white;
  font-weight: 900;
  font-size: 1.3vw;
  transition: all 0.3s;
  background-color: rgba(255, 88, 88, 0.968);
  border-radius: 1.5vh;
}

.nav_link_join:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}
/* MAIN CSS */
.main {
  height: 680px;
  background-color: transparent;
  margin: 100px 20px 20px 20px;
}

.section1 {
  display: flex;
  width: 100%;
  height: 680px;
}

.container1 {
  border-radius: 30px;
  width: 60%;
  background-color: rgba(128, 128, 128, 0.5);
  margin-right: 5px;
  padding: 20px;
  padding-top: 0;
  text-align: center;
}

.part1 {
  height: 100%;
}

.part1 h1 {
  font-family: "ADLaM Display";
  font-size: 50px;
  color: black;
  letter-spacing: 5px;
}

.needs-validation {
  margin-top: 10px;
}

.c1 {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.c1-p1 {
  width: 50%;
  margin: 1% 1%;
}

.c1-p1 label {
  display: block;
  text-align-last: left;
  margin-bottom: 5px;
}

.c1-p2 {
  width: 100%;
  margin: 1% 1%;
}

.c1-p2 label {
  display: block;
  text-align-last: left;
  margin-bottom: 5px;
}

.c1-p3 {
  width: 100%;
  margin: 0.5% 0.5%;
}

.c1-p3 label {
  display: block;
  text-align-last: left;
  font-size: medium;
}

#error {
  color: red;
  font-size: smaller;
  text-align-last: left;
  margin-top: 2px;
}

#error1 {
  color: red;
  font-size: small;
  text-align-last: left;
  margin-top: 2px;
}

.inquiry {
  border-style: hidden;
  font-size: medium;
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 8px;
}

.inquiry:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.job {
  border-style: hidden;
  font-size: medium;
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 8px;
}

.job:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.hear {
  border-style: hidden;
  font-size: medium;
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 8px;
}

.hear:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.name {
  border-style: hidden;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: medium;
  padding: 0 10px;
  border-radius: 8px;
}

.name:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.email {
  border-style: hidden;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: medium;
  padding: 0 10px;
  border-radius: 8px;
}

.email:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.phone {
  border-style: hidden;
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: medium;
  padding: 0 10px;
  border-radius: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.message {
  border-style: hidden;
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: large;
  padding: 10px 10px;
  border-radius: 8px;
}

.message:focus {
  outline: 3px solid rgba(0, 46, 252, 0.5);
  outline-offset: 2px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  user-select: none;
  text-align: justify;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.submit-button {
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  width: 130px;
  background-color: rgb(0, 145, 255);
  padding: 10px;
  border-radius: 10px;
}

.submit-button:hover {
  box-shadow: 5px 5px 5px 1px #0037faf2;
}

.notif {
  margin-top: 5px;
  font-size: 20px;
}

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.container2 {
  border-radius: 30px;
  width: 40%;
  background-color: rgba(128, 128, 128, 0.532);
  margin-right: 5px;
  padding: 20px;
}

.container2-section1 {
  width: 100%;
  height: 30%;
  text-align: center;
}

.container2-section1 h1 {
  font-family: "ADLaM Display";
  font-size: 40px;
  color: black;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

#locate {
  border-style: hidden;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  padding: 0 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container2-section1 p {
  font-size: medium;
  font-weight: bold;
}

.container2-section2 {
  width: 100%;
  height: 70%;
}

.map {
  width: 100%;
  height: 100%;
  background-color: grey;
  border-radius: 30px;
  overflow: hidden;
}

#map-text {
  display: block;
  text-align-last: center;
  line-height: 400px;
  font-size: x-large;
  font-weight: bolder;
}

#cebu {
  width: 100%;
  height: 100%;
  display: none;
  text-align-last: center;
  line-height: 400px;
  font-size: x-large;
  font-weight: bolder;
  background-image: url(images/cebu-building.png);
  background-size: cover;
  background-position: top;
  align-content: end;
}

#makati {
  width: 100%;
  height: 100%;
  display: none;
  text-align-last: center;
  line-height: 400px;
  font-size: x-large;
  font-weight: bolder;
  background-image: url(images/makati-building.png);
  background-size: cover;
  background-position: top;
  align-content: end;
}

#bohol {
  width: 100%;
  height: 100%;
  display: none;
  text-align-last: center;
  line-height: 400px;
  font-size: x-large;
  font-weight: bolder;
  align-content: end;
}

#negros {
  width: 100%;
  height: 100%;
  display: none;
  text-align-last: center;
  line-height: 400px;
  font-size: x-large;
  font-weight: bolder;
  background-image: url(images/negros-building.png);
  background-size: cover;
  background-position: top;
  align-content: end;
}

#pampanga {
  width: 100%;
  height: 100%;
  display: none;
  text-align-last: center;
  line-height: 400px;
  font-size: x-large;
  font-weight: bolder;
  background-image: url(images/pampanga-building.png);
  background-size: cover;
  background-position: top;
  align-content: end;
}

#cebu div,
#makati div,
#bohol div,
#negros div,
#pampanga div {
  width: 90%;
  height: 10%;
  margin: 1vh auto;
  text-align-last: center;
  line-height: 5vh;
  font-size: large;
  border-radius: 2vh;
  background-color: rgba(255, 255, 255, 0.432);
}

/* FOOTER CSS */
footer {
  background-color: transparent;
  margin-top: auto;
  width: 99vw;
  padding: 2vw;
  height: auto;
  justify-self: center;
}

.footer-content {
  background-image: url(images/footer1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3vw;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  height: 55vh;
  padding: 1.5vw 1vw;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  height: 35vh;
}

.footer-logo {
  min-width: 35vh;
  max-width: 35vh;
  min-height: 35vh;
  max-height: 35vh;
}

.footer-address {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  font-size: 1.5vw;
}

.address:hover {
  color: blue;
}

.footer-contact {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  text-align: left;
  padding-top: 0.2vw;
  font-size: 1vw;
}

.contact {
  text-align: justify;
  padding-top: 0.2vw;
  font-size: 1vw;
  line-height: 2vw;
}

.lower-part {
  margin-top: 1vw;
  padding: 0px 1.5vw;
  display: flex;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 12vh;
  max-height: 12vh;
  justify-content: space-between;
}

.footer-terms {
  min-width: 60%;
  max-width: 60%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 0px 1vw;
  align-content: center;
  font-size: 1vw;
}

.terms:hover {
  color: blue;
}

.copyrights {
  margin-left: 3vw;
}

.footer-logo-link {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  max-width: 40%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 1vw 1vw;
}

.fb-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 7vh;
  max-width: 7vh;
  min-height: 7vh;
  max-height: 7vh;
  margin-right: 1vw;
}

.fb-logo:hover {
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.linked-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 12vh;
  max-width: 12vh;
  min-height: 7vh;
  max-height: 7vh;
}

.linked-logo:hover {
  border-radius: 0.7vw;
  background-color: rgb(255, 255, 255);
  border: 0.2vh solid black;
}
/* scroll bar design*/

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 1vw;
}
