* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-size: 100% 3560px;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      70% 53% at 65% 13%,
      #73f2ffff 0%,
      #073aff00 46%
    ),
    radial-gradient(42% 53% at 19% -15%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(39% 37% at 79% 104%, #0037faf2 1%, #073aff00 100%),
    radial-gradient(38% 56% at 19% 85%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(38% 56% at 107% -10%, #8a4fffff 40%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #6dffaef5 0%, #073aff00 100%),
    linear-gradient(180deg, #4eb5ffff 1%, #4c00fcff 100%);
}
/* HEADER CSS */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 2vw;
  transition: all 0.3s;
}

#header-content {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 0.3vh solid rgb(255, 255, 255);
  min-width: 95vw;
  max-width: 95vw;
  min-height: 12vh;
  max-height: 12vh;
  backdrop-filter: blur(0.2vh);
  border-radius: 0 0 2vw 2vw;
  padding: 0 2.5vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: fit-content;
  max-width: 44vw;
  min-width: 44vw;
  max-height: 12vh;
  min-height: 12vh;
  padding: 0 2vw;
}

#logo-img {
  max-width: 12vh;
  min-width: 12vh;
  max-height: 12vh;
  min-height: 12vh;
  background-image: url(../images/SDALOGO.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.company-name {
  max-width: 35vw;
  min-width: 35vw;
  max-height: 12vh;
  min-height: 12vh;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
  font-weight: bolder;
  word-spacing: 0.2vw;
  text-align: left;
  padding-left: 2vw;
  align-content: center;
}

.navigation {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav {
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-content: center;
}

.nav_list {
  display: flex;
  justify-content: center;
  max-width: 50vw;
  min-width: 50vw;
  max-height: 12vh;
  min-height: 12vh;
  align-items: center;
  padding: 1vw;
}

.nav_item {
  margin-right: 1vw;
}

.nav_link_home {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_home:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.3vw;
}

.nav_link_news {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_news:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_org {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_org:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_about {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_about:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}

.nav_link_join {
  padding: 1vh 1vw;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 1.1vw;
  transition: all 0.3s;
}

.nav_link_join:hover {
  color: rgb(246, 246, 246);
  border-radius: 1.5vh;
  background-color: rgba(255, 88, 88, 0.968);
  font-size: 1.2vw;
}
/* MAIN CSS */
.main {
  margin: 90px 20px 20px;
  padding: 30px;
}

.section1 {
  width: 100%;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.532);
  border-radius: 50px;
}

.terms-container h2 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 10px;
}

.terms-container h3 {
  text-align: left;
  font-size: xx-large;
  margin-bottom: 10px;
}

.terms-container p {
  text-align: justify;
  font-size: medium;
  margin-bottom: 10px;
}

.terms-container ul {
  list-style: disc;
}

/* FOOTER CSS */
footer {
  background-color: transparent;
  margin-top: auto;
  width: 99vw;
  padding: 2vw;
  height: auto;
  justify-self: center;
}

.footer-content {
  background-image: url(../images/footer1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3vw;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  height: 55vh;
  padding: 1.5vw 1vw;
}

.upper-part {
  display: flex;
  justify-content: space-between;
  height: 35vh;
}

.footer-logo {
  min-width: 35vh;
  max-width: 35vh;
  min-height: 35vh;
  max-height: 35vh;
  background-image: url(../images/SDALOGO.png);
  background-size: cover;
}

.footer-address {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  font-size: 1.5vw;
}

.address:hover {
  color: blue;
}

.footer-contact {
  min-width: 70vh;
  max-width: 70vh;
  min-height: 40vh;
  max-height: 40vh;
  padding: 1vw;
  font-size: 1vw;
}

.address {
  text-align: left;
  padding-top: 0.2vw;
  font-size: 1vw;
}

.contact {
  text-align: justify;
  padding-top: 0.2vw;
  font-size: 1vw;
  line-height: 2vw;
}

.lower-part {
  margin-top: 1vw;
  padding: 0px 1.5vw;
  display: flex;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 12vh;
  max-height: 12vh;
  justify-content: space-between;
}

.footer-terms {
  min-width: 60%;
  max-width: 60%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 0px 1vw;
  align-content: center;
  font-size: 1vw;
}

.terms:hover {
  color: blue;
}

.copyrights {
  margin-left: 3vw;
}

.footer-logo-link {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  max-width: 40%;
  min-height: 12vh;
  max-height: 12vh;
  padding: 1vw 1vw;
}

.fb-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 7vh;
  max-width: 7vh;
  min-height: 7vh;
  max-height: 7vh;
  margin-right: 1vw;
}

.fb-logo:hover {
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.linked-logo {
  align-self: center;
  padding: 0.1vw;
  border-radius: 0.2vh;
  min-width: 12vh;
  max-width: 12vh;
  min-height: 7vh;
  max-height: 7vh;
}

.linked-logo:hover {
  border-radius: 0.7vw;
  background-color: rgb(255, 255, 255);
  border: 0.2vh solid black;
}
/* scroll bar design*/

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 1vw;
}
